# ======================================
# 🚫 Arquivos sensíveis e de ambiente
# ======================================
.env
*.env
*.key
*.pem
*.json

# ======================================
# 🐍 Python cache e compilados
# ======================================
__pycache__/
*.py[cod]
*$py.class

# ======================================
# 🧪 Ambientes virtuais
# ======================================
.venv/
venv/
env/
ENV/
.venv/
Pipfile
Pipfile.lock

# ======================================
# 🧰 Logs e temporários
# ======================================
*.log
*.tmp
*.bak
*.swp

# ======================================
# 🧠 Streamlit e IDEs
# ======================================
.streamlit/
.idea/
.vscode/
.DS_Store

# ======================================
# 📦 Arquivos gerados
# ======================================
*.zip
*.tar.gz
*.rar
